SECRET_KEY=your-secret-key-here

DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=pmm_db
DB_USER=pmm_user
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
SENDGRID_API_KEY=
EMAIL_FROM=noreply@example.com
FRONTEND_URL=http://localhost:5173

YAHOO_CLIENT_ID=your-yahoo-client-id-here
